*, *:before, *:after {
  box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Bitter;
    font-size: 14px;
}

html, body {
    height: 100%;
}

div {
    display: block;
}

.iOS{
  width: 375px;
  height: 667px;
  overflow: scroll;
  display: block;
  width: 100%
}
.bus-container{
  width: 100%;
  position: relative;
  overflow: scroll;
}

.specific-bus {
    width: 40vh;
    height: 9vh;
    display: inline-block;
    width: 25%;
    padding 20px;
    position: relative;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    z-index: 0;
}

.specific-bus-details{
  float: right;
}

.eta{
  float: right;
}
.bus-line{
    background-color: #fff;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: #000000;
}
